@import "./foundation/foundation.css";

@import "./base/grid-layout.css";

@import "./components/button.css";
@import "./components/input.css";
@import "./components/check.css";

@import "./inscripcion.css";
@import "./stepCuit.css";
@import "./stepContacto.css";
@import "./stepIdentidad.css";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

#root {
  min-height: 100vh;
}
