USE [master]
GO
/****** Object:  Database [SolicitudInscripcionEmpresariaDigital]    Script Date: 28/09/2026 10:23:15 ******/
CREATE DATABASE [SolicitudInscripcionEmpresariaDigital]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Solicitud Inscripción Empresaria Digital', FILENAME = N'/var/opt/mssql/data/Solicitud Inscripción Empresaria Digital.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Solicitud Inscripción Empresaria Digital_log', FILENAME = N'/var/opt/mssql/data/Solicitud Inscripción Empresaria Digital_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SolicitudInscripcionEmpresariaDigital].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SolicitudInscripcionEmpresariaDigital]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28/09/2026 10:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 28/09/2026 10:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[Id] [uniqueidentifier] NOT NULL,
	[RazonSocial] [nvarchar](max) NULL,
	[Cuit] [bigint] NULL,
	[EsCooperativa] [bit] NOT NULL,
	[EstadoActivo] [bit] NOT NULL,
	[LegacyId] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaAlta] [datetime2](7) NOT NULL,
	[UsuarioAlta] [nvarchar](max) NULL,
	[FechaUpdate] [datetime2](7) NOT NULL,
	[UsuarioUpdate] [nvarchar](max) NULL,
 CONSTRAINT [PK_Empresa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizCuilVinculado]    Script Date: 28/09/2026 10:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizCuilVinculado](
	[QuizSesionId] [bigint] NOT NULL,
	[Cuil] [bigint] NOT NULL,
 CONSTRAINT [PK_QuizCuilVinculado] PRIMARY KEY CLUSTERED 
(
	[QuizSesionId] ASC,
	[Cuil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizDesafio]    Script Date: 28/09/2026 10:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizDesafio](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[QuizSesionId] [bigint] NOT NULL,
	[Numero] [tinyint] NOT NULL,
	[Escenario] [tinyint] NOT NULL,
	[EsActual] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
 CONSTRAINT [PK_QuizDesafio] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizOpcion]    Script Date: 28/09/2026 10:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizOpcion](
	[QuizDesafioId] [bigint] NOT NULL,
	[CodigoOpcion] [tinyint] NOT NULL,
	[Cuil] [bigint] NULL,
	[EsVinculado] [bit] NOT NULL,
 CONSTRAINT [PK_QuizOpcion] PRIMARY KEY CLUSTERED 
(
	[QuizDesafioId] ASC,
	[CodigoOpcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizRespuesta]    Script Date: 28/09/2026 10:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizRespuesta](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[QuizDesafioId] [bigint] NOT NULL,
	[EsCorrecta] [bit] NOT NULL,
	[FechaRespuesta] [datetime] NOT NULL,
 CONSTRAINT [PK_QuizRespuesta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AK_QuizRespuesta_Id_QuizDesafioId] UNIQUE NONCLUSTERED 
(
	[Id] ASC,
	[QuizDesafioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UX_QuizRespuesta_QuizDesafio] UNIQUE NONCLUSTERED 
(
	[QuizDesafioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizRespuestaOpcion]    Script Date: 28/09/2026 10:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizRespuestaOpcion](
	[QuizRespuestaId] [bigint] NOT NULL,
	[QuizDesafioId] [bigint] NOT NULL,
	[CodigoOpcion] [tinyint] NOT NULL,
 CONSTRAINT [PK_QuizRespuestaOpcion] PRIMARY KEY CLUSTERED 
(
	[QuizRespuestaId] ASC,
	[CodigoOpcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizSesion]    Script Date: 28/09/2026 10:23:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizSesion](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CuitEmpresa] [bigint] NOT NULL,
	[UsuarioId] [nvarchar](200) NOT NULL,
	[Estado] [tinyint] NOT NULL,
	[IntentosTotales] [tinyint] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaExpiracion] [datetime] NOT NULL,
	[FechaFinalizacion] [datetime] NULL,
	[BloqueadoHasta] [datetime] NULL,
 CONSTRAINT [PK_QuizSesion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [UX_QuizDesafio_Sesion_Actual]    Script Date: 28/09/2026 10:23:15 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_QuizDesafio_Sesion_Actual] ON [dbo].[QuizDesafio]
(
	[QuizSesionId] ASC
)
WHERE ([EsActual]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UX_QuizDesafio_Sesion_Numero]    Script Date: 28/09/2026 10:23:15 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_QuizDesafio_Sesion_Numero] ON [dbo].[QuizDesafio]
(
	[QuizSesionId] ASC,
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuizSesion_Cuit_Bloqueo]    Script Date: 28/09/2026 10:23:15 ******/
CREATE NONCLUSTERED INDEX [IX_QuizSesion_Cuit_Bloqueo] ON [dbo].[QuizSesion]
(
	[CuitEmpresa] ASC,
	[Estado] ASC,
	[BloqueadoHasta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_QuizSesion_Usuario_Fecha]    Script Date: 28/09/2026 10:23:15 ******/
CREATE NONCLUSTERED INDEX [IX_QuizSesion_Usuario_Fecha] ON [dbo].[QuizSesion]
(
	[UsuarioId] ASC,
	[FechaCreacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QuizCuilVinculado]  WITH CHECK ADD  CONSTRAINT [FK_QuizCuilVinculado_QuizSesion_QuizSesionId] FOREIGN KEY([QuizSesionId])
REFERENCES [dbo].[QuizSesion] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuizCuilVinculado] CHECK CONSTRAINT [FK_QuizCuilVinculado_QuizSesion_QuizSesionId]
GO
ALTER TABLE [dbo].[QuizDesafio]  WITH CHECK ADD  CONSTRAINT [FK_QuizDesafio_QuizSesion_QuizSesionId] FOREIGN KEY([QuizSesionId])
REFERENCES [dbo].[QuizSesion] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuizDesafio] CHECK CONSTRAINT [FK_QuizDesafio_QuizSesion_QuizSesionId]
GO
ALTER TABLE [dbo].[QuizOpcion]  WITH CHECK ADD  CONSTRAINT [FK_QuizOpcion_QuizDesafio_QuizDesafioId] FOREIGN KEY([QuizDesafioId])
REFERENCES [dbo].[QuizDesafio] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuizOpcion] CHECK CONSTRAINT [FK_QuizOpcion_QuizDesafio_QuizDesafioId]
GO
ALTER TABLE [dbo].[QuizRespuesta]  WITH CHECK ADD  CONSTRAINT [FK_QuizRespuesta_QuizDesafio_QuizDesafioId] FOREIGN KEY([QuizDesafioId])
REFERENCES [dbo].[QuizDesafio] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuizRespuesta] CHECK CONSTRAINT [FK_QuizRespuesta_QuizDesafio_QuizDesafioId]
GO
ALTER TABLE [dbo].[QuizRespuestaOpcion]  WITH CHECK ADD  CONSTRAINT [FK_QuizRespuestaOpcion_QuizOpcion] FOREIGN KEY([QuizDesafioId], [CodigoOpcion])
REFERENCES [dbo].[QuizOpcion] ([QuizDesafioId], [CodigoOpcion])
GO
ALTER TABLE [dbo].[QuizRespuestaOpcion] CHECK CONSTRAINT [FK_QuizRespuestaOpcion_QuizOpcion]
GO
ALTER TABLE [dbo].[QuizRespuestaOpcion]  WITH CHECK ADD  CONSTRAINT [FK_QuizRespuestaOpcion_QuizRespuesta] FOREIGN KEY([QuizRespuestaId], [QuizDesafioId])
REFERENCES [dbo].[QuizRespuesta] ([Id], [QuizDesafioId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuizRespuestaOpcion] CHECK CONSTRAINT [FK_QuizRespuestaOpcion_QuizRespuesta]
GO
ALTER TABLE [dbo].[QuizDesafio]  WITH CHECK ADD  CONSTRAINT [CK_QuizDesafio_Escenario] CHECK  (([Escenario]>=(1) AND [Escenario]<=(4)))
GO
ALTER TABLE [dbo].[QuizDesafio] CHECK CONSTRAINT [CK_QuizDesafio_Escenario]
GO
ALTER TABLE [dbo].[QuizDesafio]  WITH CHECK ADD  CONSTRAINT [CK_QuizDesafio_Numero] CHECK  (([Numero]>(0)))
GO
ALTER TABLE [dbo].[QuizDesafio] CHECK CONSTRAINT [CK_QuizDesafio_Numero]
GO
ALTER TABLE [dbo].[QuizOpcion]  WITH CHECK ADD  CONSTRAINT [CK_QuizOpcion_Codigo] CHECK  (([CodigoOpcion]>=(0) AND [CodigoOpcion]<=(5)))
GO
ALTER TABLE [dbo].[QuizOpcion] CHECK CONSTRAINT [CK_QuizOpcion_Codigo]
GO
ALTER TABLE [dbo].[QuizOpcion]  WITH CHECK ADD  CONSTRAINT [CK_QuizOpcion_Cuil] CHECK  (([CodigoOpcion]>=(0) AND [CodigoOpcion]<=(3) AND [Cuil] IS NOT NULL OR [CodigoOpcion]>=(4) AND [CodigoOpcion]<=(5) AND [Cuil] IS NULL))
GO
ALTER TABLE [dbo].[QuizOpcion] CHECK CONSTRAINT [CK_QuizOpcion_Cuil]
GO
ALTER TABLE [dbo].[QuizSesion]  WITH CHECK ADD  CONSTRAINT [CK_QuizSesion_Estado] CHECK  (([Estado]>=(1) AND [Estado]<=(4)))
GO
ALTER TABLE [dbo].[QuizSesion] CHECK CONSTRAINT [CK_QuizSesion_Estado]
GO
ALTER TABLE [dbo].[QuizSesion]  WITH CHECK ADD  CONSTRAINT [CK_QuizSesion_IntentosTotales] CHECK  (([IntentosTotales]>(0)))
GO
ALTER TABLE [dbo].[QuizSesion] CHECK CONSTRAINT [CK_QuizSesion_IntentosTotales]
GO
USE [master]
GO
